@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:wght@300&family=Noto+Serif:wght@700&family=Roboto+Slab:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Noto+Serif:wght@700&family=Roboto+Slab:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Noto+Serif:wght@700&family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Noto+Serif:wght@700&family=Nunito+Sans:opsz,wght@6..12,200&family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Maven+Pro&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Noto+Serif:wght@700&family=Nunito+Sans:opsz,wght@6..12,200&family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
