/* Standard syntax */
@keyframes swipe {
  0% {
    margin: 0;
    transform: rotate(0deg);
  }

  100% {
    margin-right: 20px;
    transform: rotate(-5deg);
  }
}

.handswipe {
  animation: swipe 0.8s alternate infinite; /* IE 10+, Fx 29+ */
  animation-timing-function: ease;
  position: absolute;
  bottom: 95px;
  width: 100px;
  right: 50%;
  top: 50%;
}
